<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>579236992295-gqgdmcnss88rmbgljhm3fqjjd85d5km5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.579236992295-gqgdmcnss88rmbgljhm3fqjjd85d5km5</string>
	<key>API_KEY</key>
	<string>AIzaSyDAs9RV90C6HdU8OajToQK4kZwXRDNebdY</string>
	<key>GCM_SENDER_ID</key>
	<string>579236992295</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gtkFlutter</string>
	<key>PROJECT_ID</key>
	<string>fir-flutter-codelab-70c44</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-flutter-codelab-70c44.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:579236992295:ios:65bde64a4ca8d103430502</string>
</dict>
</plist>